
<h1><%= @title %></h1>

<div class="my-5">
  <p>Once upon a time in the <%= @adjective %> city, there was a <%= @noun %> who wanted to <%= @verb %>.</p>
</div>

<a href="/" class="btn btn-primary">Try again</a>
